<!-- <ion-view view-title="Users">
  <ion-content>
    XAn
  </ion-content>
</ion-view> -->
<ion-view view-title="Account">
  <ion-content class="padding">

    <!-- <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
         <b>Under construction!</b>
        </div>
      </div>
    </div> -->
    <div class="list">
     <!-- <div class="item"> -->
        <a href="#/login"><button class="button button-calm button-block ">Log Out</button></a>
      <!-- </div> -->
    </div>

  </ion-content>
</ion-view>
