
<ion-view title="Surebay">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <!-- <img src="http://i280.photobucket.com/albums/kk200/Shain_Sia_Kho/2dc7bb4e-cf82-4a7d-b74b-4c548b2c4b97_zps2s4lgtfh.png" style="width: 100%; height: auto;"> -->
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" required="" ng-model="user.userName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" required="" ng-model="user.passWord">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button  type="button" class="button button-calm button-block" ng-click="logIn(user)">Log In</button>
            <a href="#/register" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
        <h2 style="color: red;">{{message}}</h2>
    </ion-content>
</ion-view>
