
<ion-view view-title="Users">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <!-- <a href="#/app/register" class="button button-icon button-clear ion-plus" menu-toggle="left">
      </a> -->
      <a class="button button-positive icon-left ion-plus" href="#/createUser">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="list" ng-repeat="u in users">
        <!-- <li class="items">{{u.name}}</li> -->
        <a href="#" class="item item-avatar">
          <!-- <img src="" alt="" /> -->
          <h2>{{u.name}}</h2>
          <p>
            Hello!
          </p>
        </a>
    </div>
  </ion-content>
</ion-view>
