<!-- <ion-view view-title="Users">
  <ion-content>
    XAn
  </ion-content>
</ion-view> -->
<ion-view view-title="Account Settings">
  <ion-nav-bar class="bar-balanced"></ion-nav-bar>
  <ion-content>
    <div class="list">
        <a href="#/updateUser/{{id}}" class="item item-icon-left">
          <i class="icon ion-compose"></i> Update My Profile
        </a>
        <a href="#/changePass/{{id}}" class="item item-icon-left">
          <i class="icon ion-refresh"></i> Change Password
        </a>
        <a class="item item-icon-left" ng-click="logout()">
          <i class="icon ion-power"></i> Log Out
        </a>
      <!-- <button type="button" class="item item-icon-left button-full" ng-click="logout()">
        <i class="icon ion-power"></i> Get me out from here!
      </button> -->
    </div>
  </ion-content>
</ion-view>
