<ion-view view-title="Change Password">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <a class="button button-clear ion-arrow-left-c" href="#/app/users">
          Back
        </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <section class="list">
      <label class="item item-input">
        <span  class="input-label">Old Password</span>
        <input type="password" ng-model="pass.old" required="">
      </label>
      <label class="item item-input">
        <span  class="input-label">New Password</span>
        <input type="password" ng-model="pass.new" required="">
      </label>
      <label class="item item-input">
        <span  class="input-label">Confirm New Password</span>
        <input type="password" ng-model="pass.new2" required="">
      </label>
      <button type="button" class="button button-block button-positive" ng-click="changePass(id, pass)">Change Password</button>
      <p style="color: red;">
        {{message}}
      </p>
    </section>
  </ion-content>
</ion-view>
