<ion-view title="Create User">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <a class="button button-clear ion-arrow-left-c" href="#/app/users">
          Back
        </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" scroll="true" class="has-header">
    <form>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="" ng-model="user.firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="" ng-model="user.lastName">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="user.userName">
        </label>
      </ion-list>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" placeholder="" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Address</span>
        <input type="text" placeholder="" ng-model="user.address">
      </label>
      <label class="item item-input">
        <span class="input-label">Birthday</span>
        <input type="date" placeholder="" ng-model="user.birthday" min="1940-01-01">
      </label>
      <br>
      <span class="input-label"><b>User Type:</b></span>
      <label class="item item-radio">
        <input type="radio" name="userType" value="1" ng-model="user.userType">
        <div class="item-content">
          Admin
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="userType" value="0" ng-model="user.userType">
        <div class="item-content">
          User
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    <button class="button button-calm button-block button-medium" ng-click="userAdd(user)">Create User</button>
    </form>
  </ion-content>
</ion-view>
