
<ion-view view-title="Update User">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <a class="button button-clear ion-arrow-left-c" href="#/app/account">
          Back
        </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <form>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="" ng-model="user.firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="" ng-model="user.lastName">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="user.userName">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="user.passWord">
        </label>
      </ion-list>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" placeholder="" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Adress</span>
        <input type="text" placeholder="" ng-model="user.address">
      </label>
      <label class="item item-input">
        <span class="input-label">Birthday</span>
        <input type="text" placeholder="" ng-model="user.birthday">
      </label>
    <button class="button button-calm button-block button-medium" ng-click="updateProfile2(user)">Save</button>
    </form>
  </ion-content>
</ion-view>
