<ion-view view-title="Users">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <a class="button button-positive icon-left ion-plus" href="#/register2">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <section class="list card" ng-repeat="u in users track by $index">
      <a href="#/users/{{u.user_id}}/viewUser" class="item item-avatar item-button-right">
        <!-- <button type="button" class="item item-avatar item-button-right" ng-click="viewUser({{u.user_id}})"> -->
        <img src="../img/default.jpg" alt="Profile Picture" />
        <h2>{{u.username}}</h2>
      </a>
    </section>
  </ion-content>
</ion-view>
