<ion-view view-title="View User">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <a class="button button-clear ion-arrow-left-c" href="#/app/users">
          Back
        </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-compose"></i>
        Update Account
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-trash-a"></i>
         Delete Account
      </a>
      <div class="item item-toggle">
        Activate Account
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
