<!-- <ion-view view-title="Users">
  <ion-content>
    XAn
  </ion-content>
</ion-view> -->
<ion-view view-title="Account Settings">
  <ion-nav-bar class="bar-balanced"></ion-nav-bar>
  <ion-content class="padding">
    <div class="list card">
          <a href="#/app/surveys" class="item item-icon-left">
            <i class="icon ion-compose"></i>
            Update Profile
          </a>
          <a href="#/login" class="item item-icon-left">Log Out</a>
    </div>
  </ion-content>
</ion-view>
