<ion-view title="Profile">
    <ion-content padding="true" class="has-header">
        <form>
            <h3>Survey Title</h3>
            <div>
                <p>Description of survey</p>
          
        </form>
        <form></form>
        <div>
            <p>URL</p>
        </div>
        <div>
            <p>TALLY</p>
        </div>
        <div>
            <p>DOWNLOAD</p>
        </div>
        <div>
            <p>UPDATE</p>
            <div>
                <p>DELETE</p>
            </div>
        </div>
    </ion-content>
</ion-view>