<ion-side-menus>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Heading</h1>
        </ion-header-bar>
        <ion-content padding="true" scroll="false" class="has-header">
            <ion-list>
                <ion-item class="Home">Item 1</ion-item>
                <ion-item class="Profile">Item 2</ion-item>
                <ion-item class="Create A Survey">Item 3</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-pane ion-side-menu-content="">
        <ion-content padding="true" scroll="false" class="has-header">
            <h3>MENU</h3>
            <ion-list>
                <ion-item class="item-thumbnail-left">
                    <img src="img/default.jpg">
                    <h2>PewDiePie</h2>
                    <p>Land, Far Away</p>
                </ion-item>
                <ion-item>Home</ion-item>
                <ion-item>Profile</ion-item>
                <ion-item>Create A Survey</ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                  <a href="#/login">Sign Out</a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
</ion-side-menus></script>
<script id="page8.html" type="text/ng-template">
<ion-view title="Survey Questionaire">
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <span class="input-label">Survey Title</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="display: inline; height: 100px;"></div>
            <label class="item item-select">
                <span class="input-label">Number of Questions</span>
                <select></select>
            </label>
        </form>
        <ion-list>
            <ion-item>5</ion-item>
            <ion-item>6</ion-item>
            <ion-item>7</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>8</ion-item>
        </ion-list>
        <div class="spacer" style="display: inline; height: 100px;"></div>
        <form>
            <label class="item item-input">
                <span class="input-label">Question #1</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Select type of answer.</span>
                <select></select>
            </label>
            <ion-list>
                <ion-item>Radio Button</ion-item>
                <ion-item>Check Box</ion-item>
                <ion-item>Specify</ion-item>
            </ion-list>
        </form>
        <button class="button button-calm button-block button-small">Create Suvey</button>
    </ion-content>
</ion-view></script>
<script id="page9.html" type="text/ng-template">
<ion-view title="Profile">
    <ion-content padding="true" class="has-header">
        <form>
            <h3>Survey Title</h3>
            <div>
                <p>Description of survey</p>
            </div>
        </form>
        <form></form>
        <div>
            <p>URL</p>
        </div>
        <div>
            <p>TALLY</p>
        </div>
        <div>
            <p>DOWNLOAD</p>
        </div>
        <div>
            <p>UPDATE</p>
            <div>
                <p>DELETE</p>
            </div>
        </div>
    </ion-content>
</ion-view>
