<ion-view title="Create survey">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Title:</span><textarea placeholder="Title"> </textarea>
            </label>
        </form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder="start here . . . "> </textarea>
            </label>
        </form>
        <button class="button button-assertive button-block ">Post</button>
        <a href="#/" class="button button-balanced button-block ">Back</a>
    </ion-content>
</ion-view>