<ion-view title="Settings">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/" class="button button-balanced button-block  icon-left ion-android-arrow-back">back</a>
            <a href="#/page9" class="button button-assertive button-block button-small icon-left ion-edit">update profile</a>
            <button class="button button-balanced button-block button-small icon-left ion-log-out">logout</button>
        </div>
    </ion-content>
</ion-view>